name: cybrox_kiosk_management
description: "Cybrox kiosk management of products, manufacturing and dispatch"
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.7.0


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.8.4
  intl: ^0.20.2
  pdf: ^3.8.0
  printing: ^5.9.0
  sunmi_printer_plus: ^4.1.0
  fl_chart: ^0.70.2
  path_provider: ^2.0.11

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0


flutter:


  uses-material-design: true

